@import "./src/assets/sass/variables";

.formLoading {
  opacity: 0.6;
}

.formTitle {
  color: $primaryText;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.15rem;
  line-height: 110%;
  margin: 0;
}

.formText {
  font-size: 14px;
  line-height: 24px;
  margin-top: 14px;
  width: 84%;
  color: white;
}

.contactBox {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

.formBox {
  display: flex;
  flex-direction: column;
}

.formError {
  color: red;
}

.formBtn {
  background: #ffb400;
  height: 42px;
  width: 100%;
  line-height: 42px;
  font-size: 15px;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 15px;
}

.formBtn:hover {
  box-shadow: 0  1px 10px black;
}


/* INPUT ======================================= */

.group {
  position: relative;
  margin-bottom: 45px;
}

.input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid $line;
  background-color: $bgSecondary;
  -webkit-box-shadow: inset 0 0 0 50px $bgSecondary;
  color: $secondaryText;
  -webkit-text-fill-color: $secondaryText;
}

.inputError {
  border-bottom: 1px solid red;
}

.input:focus {
  outline: none;
}

/* LABEL ======================================= */
.label {
  color: $accentText;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.input:focus ~ .label, .input:valid ~ .label {
  top: -20px;
  font-size: 14px;
  color: $accentText;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: $accentText;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
.input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: $accentText;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: $accentText;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: $accentText;
  }
  to {
    width: 0;
    background: transparent;
  }
}


@media (max-width: 600px) {
  .contactBox {
  }

  .formTitle {
    font-size: 1rem;
  }

  .formText {
    width: 100%;
  }
}
