@import "./../assets/sass/variables";

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  float: right;
  height: 5vh;
  width: 5vh;
  font-weight: bold;
  margin: 0;
  transition: 0.5s;
}

.close:hover,
.close:focus {
  transform: rotate(90deg);
  height: 5vh;
  width: 5vh;
  cursor: pointer;
}

.modalSuccessTitle {
  text-align: center;
  font-size: 3vh;
  font-weight: 600;
  padding-bottom: 5px;
}

.modalSuccessTexts {
  font-size: 3vh;
  line-height: 25px;
  text-align: center;
}

.modalErrorTitle {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px;
}
.modalErrorTexts {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.modalError {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin-top: 5px;
}