@import "../../assets/sass/variables";

.box {
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #484646;
  text-decoration: none;
  padding-left: 5%;
  width: 50%;
  height: 100%;
  text-shadow: 1px 1px 1px white;
  background: rgb(232, 235, 243, 0.8);


  .textIntro {
    font-size: 24px;
  }

  .textIntroJob {
    font-size: 24px;
    text-align: center;

  }

  .textIntroName {
    font-size: 36px;
    margin: 20px 0;
    text-align: center;
  }

  .textIntroAccent {
    color: $accentText;
  }
  .typing{
    margin-top: 20px;
    color: #b4480d
  ;
  }
}

.footerBox {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #484646;
  text-decoration: none;
  width: 50%;
  height: 100%;
  text-shadow: 1px 1px 1px white;
  background: rgba(210, 220, 240, 0.8);

}
@media (max-width: 600px) {
  .box {
    font-size: 20px;
    width: 100%;
    height: 40%;
    padding-left: 0;
    .textIntro {
      font-size: 16px;
    }
    .textIntroName {
      font-size: 25px;
    }
  }
}


@media screen and (min-width: 3500px){

  .box {
    text-shadow: 3px 3px 3px white;
    .textIntro {
      font-size: 66px;
    }
    .textIntroJob {
      font-size: 66px;
    }
    .textIntroName {
      font-size: 100px;
      margin: 60px 0;
    }
    .typing{
      margin-top: 40px;
    }
  }
}

@media screen and (min-width: 1921px) and (max-width: 3499px){

  .box {
    text-shadow: 2px 2px 2px white;
    .textIntro {
      font-size: 44px;
    }
    .textIntroJob {
      font-size: 44px;
    }
    .textIntroName {
      font-size: 70px;
      margin: 40px 0;
    }
    .typing{
      margin-top: 30px;
    }
  }
}

@media screen and (min-width: 1500px) and (max-width: 1920px){

  .box {
    text-shadow: 1px 1px 1px white;
    .textIntro {
      font-size: 32px;
    }
    .textIntroJob {
      font-size: 32px;
    }
    .textIntroName {
      font-size: 40px;
      margin: 40px 0;
    }
    .typing{
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 550px){

  .box {
    .textIntro {
      font-size: 26px;
      font-weight: 300;
    }
    .textIntroJob {
      font-size: 28px;
      font-weight: 400;

    }
    .textIntroName {
      font-size: 36px;
      margin: 28px 0;
      font-weight: 600;

    }
    .typing{
      margin-top: 26px;
    }
  }
}
@media screen and (max-width: 280px){

  .box {
    .textIntro {
      font-size: 20px;
      font-weight: 300;
    }
    .textIntroJob {
      font-size: 20px;
      font-weight: 400;

    }
    .textIntroName {
      font-size: 30px;
      margin: 20px 0;
      font-weight: 600;

    }
    .typing{
      margin-top: 20px;
    }
  }
}
@media (min-width: 551px) and (max-width: 912px){

.box{
  padding-left: 0;
  width: 100%;
  height: 40%;
}

}

@media screen and (width: 717px) and (height: 512px) {

  .box {
    .textIntro {
      font-size: 18px;
      font-weight: 300;
    }
    .textIntroJob {
      font-size: 20px;
      font-weight: 400;

    }
    .textIntroName {
      font-size: 24px;
      margin: 20px 0;
      font-weight: 600;

    }
    .typing{
      margin-top: 16px;
    }
  }
}
@media screen and (min-width: 550px) and (max-width: 960px) and (min-height: 270px) and (max-height: 640px) {
  .box {
    width: 50%;
    height: 100%;
    .textIntro {
      font-size: 16px;
      font-weight: 300;
    }
    .textIntroJob {
      font-size: 18px;
      font-weight: 400;

    }
    .textIntroName {
      font-size: 20px;
      margin: 20px 0;
      font-weight: 600;

    }
    .typing{
      margin-top: 14px;
    }
  }
}



