@import "src/assets/sass/variables";

.personalBox {
  position: relative;
  padding: 0 40px 0 40px;

  .personalInfo {
    .personalInfoTitle {
      display: flex;
    }

    .personalDesc {
      width: 100%;
      color: $secondaryText;
      font-size: 16px;
      line-height: 24px;
      text-align: justify-all;
    }

    .personalInfoInner {
      width: 100%;
      margin: 0;

      .personalInfoList {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        height: 15vh;
        color: $secondaryText;
        width: 100%;

        .personalInfoItem {
          display: flex;
          padding-bottom: 10px;

          .title {
            margin-right: 8px;
            color: $accentText;
          }
        }
      }

    }
  }

  .BtnWrapper {
    display: flex;
    align-items: center;
  }

}

.personalBox::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
}

@media (max-width: 900px) {

  .personalDesc {
    width: 100%;

    .personalInfoInner {
      width: 100%;
    }
  }

}



@media screen and (min-width: 3500px) {
  .personalBox {
    padding: 0 40px 0 40px;

    .personalInfo {
      .personalDesc {
        font-size: 40px;
        line-height: 66px;
      }

      .personalInfoInner {
        .personalInfoList {
          height: 18vh;
          line-height: 4em;

          .personalInfoItem {
            padding-bottom: 0px;
            font-size: 36px;

            .title {
              margin-right: 24px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2300px) and (max-width: 3499px) {
  .personalBox {
    padding: 0 25px 0 25px;

    .personalInfo {
      .personalDesc {
        font-size: 28px;
        line-height: 36px;
      }

      .personalInfoInner {
        .personalInfoList {
          height: 13vh;
          line-height: 2.7em;

          .personalInfoItem {
            padding-bottom: 0px;
            font-size: 24px;

            .title {
              margin-right: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .personalBox {
    padding: 0 5px 0 5px;
  }
    .personalBox::after {
    display: none;
  }
}

@media (min-width: 551px) and (max-width: 912px) {
  .personalBox {
    padding: 0 10px 0 10px;

    .personalInfo {
      .personalDesc {
        font-size: 18px;
        line-height: 24px;
      }

      .personalInfoInner {
        .personalInfoList {
          height: 13vh;
          line-height: 1.9em;

          .personalInfoItem {
            padding-bottom: 0px;
            font-size: 18px;

            .title {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .BtnWrapper {
    justify-content: center
  }
  .personalBox::after {
    display: none;

  }
}
