@import "src/assets/sass/variables";

.personalBox {
  position: relative;
  padding: 0 2vw 0 2vw;

  .personalInfo {
    .personalInfoTitle {
      display: flex;
    }

    .personalDesc {
      width: 100%;
      color: $secondaryText;
      font-size: 1.8vh;
      line-height: 2.8vh;
    }

    .personalInfoInner {
      width: 100%;
      margin: 0;

      .personalInfoList {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        height: max-content;
        color: $secondaryText;
        width: 100%;

        .personalInfoItem {
          display: flex;
          padding-bottom: 10px;
          font-size: 1.8vh;
          line-height: 2.2vh;

          .title {
            margin-right: 1vw;
            color: $accentText;
          }
        }
      }
    }
  }

  .BtnWrapper {
    display: grid;
    justify-content: space-evenly;
  }

  .infoWrapper {
    display: flex;
  }
}

.personalBox::after {
  position: absolute;
  content: '';
  width: calc(100% - 4vw);
  height: 1px;
  background-color: black;
}

@media screen and (min-width: 1200px){
  .personalBox {
    .personalInfo {
      .personalInfoInner {
        width: 50%;
      }
    }
    .BtnWrapper {
      display: flex;
      align-items: center;
      width: 50%
    }
  }
}
@media screen and (min-width: 551px) and (max-width: 912px) and (min-height: 768px){
  .personalBox {
    padding: 0;
    .personalInfo {
      .personalDesc {
        font-size: 1.6vh;
        line-height: 2vh;
      }
      .personalInfoInner {
        .personalInfoList {
          display: contents;
          .personalInfoItem {
            padding-bottom: 0;
            font-size:1.45vh;

            .title {
              margin-right: 3px;
            }
          }
        }
      }
    }

    .BtnWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 13vh;    }

    .infoWrapper {
      padding: 0 0 2vh 0;
      align-items: center;
    }

    .personalBox::after {
      display: none;

    }
  }
}
@media screen and (max-width: 550px) and (min-height: 568px) {
  .personalBox {
    padding: 0 12vw 0 5vw;

    .infoWrapper {
      display: block;

      .BtnWrapper {
        display: flex;
        width: calc(100% - 20px);
        justify-content: space-evenly;
        padding-bottom: 2vh;
      }
    }
  }
  .personalBox::after {
    display: none;
  }
}

//fold
@media screen and (max-width: 280px) {
  .personalBox {
    padding: 1vw;
    .personalInfo {
      .personalInfoTitle {
      }
      .personalDesc {
        font-size: 1.6vh;
        line-height: 2.2vh;
      }
      .personalInfoInner {
        .personalInfoList {
          .personalInfoItem {
            padding-bottom: 8px;
            font-size:1.6vh;
            .title {
              margin-right: 5px;
            }
          }
        }
      }
    }
    .infoWrapper {
      .BtnWrapper {
        width: calc(100% - 2vw);
      }
    }
  }
}

//fold openBook
@media screen and (width: 717px) and (height: 512px){
  .personalBox {
    padding: 0;
    .personalInfo {
      .personalDesc {
        font-size: 13px;
        line-height: 16px;
      }
      .personalInfoInner {
        .personalInfoList {
          display: contents;

          .personalInfoItem {
            padding-bottom: 0px;
            font-size: 2.2vh;
            line-height: 2.8vh;

            .title {
              margin-right: 3px;
            }
          }
        }
      }
    }

    .BtnWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 13vh;
    }

    .infoWrapper {
      padding: 0 0 2vh 0;
      align-items: center;
    }

    .personalBox::after {
      display: none;

    }
  }
}

//horizontal mobile

@media screen and (min-width: 550px) and (max-width: 960px) and (min-height: 270px) and (max-height: 567px)  {
  .personalBox {
    padding: 0 1vw 0 1vw;
    .personalInfo {
      .personalDesc {
        font-size: 1.2vw;
        line-height: 1.8vw;
      }
      .personalInfoInner {
        width: 45%;
        .personalInfoList {

          .personalInfoItem {
            padding-bottom: 1vh;
            font-size: 1.2vw;

          }
        }
      }
      .BtnWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 55%
      }
    }
  }
  .personalBox::after {
    width: calc(100% - 20px);

  }
}

