@import "src/assets/sass/variables";

.personalBox {
  position: relative;
  padding: 0 40px 0 40px;

  .personalInfo {
    .personalInfoTitle {
      display: flex;
    }

    .personalDesc {
      width: 100%;
      color: $secondaryText;
      font-size: 1.8vh;
      line-height: 2.4vh;
    }

    .personalInfoInner {
      width: 100%;
      margin: 0;

      .personalInfoList {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        height: max-content;
        color: $secondaryText;
        width: 100%;

        .personalInfoItem {
          display: flex;
          padding-bottom: 10px;

          .title {
            margin-right: 8px;
            color: $accentText;
          }
        }
      }
    }
  }

  .BtnWrapper {
    display: grid;
    justify-content: space-evenly;
  }

  .infoWrapper {
    display: flex;
  }
}

.personalBox::after {
  position: absolute;
  content: '';
  width: calc(100% - 80px);
  height: 1px;
  background-color: black;
}

@media screen and (min-width: 3500px) {
  .personalBox {
    padding: 0 40px 0 40px;

    .personalInfo {
      .personalDesc {
        font-size: 40px;
        line-height: 66px;
      }

      .personalInfoInner {
        .personalInfoList {
          line-height: 4em;

          .personalInfoItem {
            padding-bottom: 0px;
            font-size: 36px;

            .title {
              margin-right: 24px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1921px) and (max-width: 3499px) {
  .personalBox {
    padding: 0 40px 0 40px;

    .personalInfo {
      .personalDesc {
        font-size: 28px;
        line-height: 36px;
      }

      .personalInfoInner {
        .personalInfoList {
          line-height: 2.7em;

          .personalInfoItem {
            padding-bottom: 0px;
            font-size: 24px;

            .title {
              margin-right: 18px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1400px) and (max-width: 1920px) {
  .personalBox {
    padding: 0 40px 0 40px;

    .personalInfo {
      .personalDesc {
        font-size: 2.2vh;
        line-height: 2.8vh;
      }

      .personalInfoInner {
        .personalInfoList {
          line-height: 2.8vh;

          .personalInfoItem {
            padding-bottom: 0px;
            font-size: 2.2vh;

            .title {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 914px) and (max-width: 1399px) {
  .personalBox {
    padding: 0 40px 0 40px;

    .personalInfo {
      .personalDesc {
        font-size: 2vh;
        line-height: 2.8vh;
      }

      .personalInfoInner {
        width: 60%;

        .personalInfoList {
          line-height: 18px;

          .personalInfoItem {
            padding-bottom: 0;
            font-size: 14px;

            .title {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .BtnWrapper {

        }

  }
}
@media screen and (min-width: 1200px){
  .personalBox {
    .personalInfo {
      .personalInfoTitle {
      }
      .personalDesc {

      }

      .personalInfoInner {
        width: 50%;

        .personalInfoList {


          .personalInfoItem {


            .title {

            }
          }
        }

      }
    }

    .BtnWrapper {
      display: flex;
      align-items: center;
      width: 50%
    }

    .infoWrapper {
    }

  }
}
@media screen and (min-width: 551px) and (max-width: 912px) {
  .personalBox {
    padding: 0;

    .personalInfo {
      .personalDesc {
        font-size: 1.6vh;
        line-height: 2vh;
      }

      .personalInfoInner {
        .personalInfoList {
          height: 13vh;
          line-height: 1.9em;
          display: contents;

          .personalInfoItem {
            padding-bottom: 0px;
            font-size:1.45vh;

            .title {
              margin-right: 3px;
            }
          }
        }
      }
    }

    .BtnWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 13vh;    }

    .infoWrapper {
      padding: 0 0 2vh 0;
      align-items: center;
    }

    .personalBox::after {
      display: none;

    }
  }
}
@media screen and (max-width: 550px) {
  .personalBox {
    padding: 0 12vw 0 5vw;

    .infoWrapper {
      display: block;

      .BtnWrapper {
        display: flex;
        width: calc(100% - 20px);
        justify-content: space-evenly;
        padding-bottom: 2vh;
      }
    }
  }
  .personalBox::after {
    display: none;
  }
}

//fold
@media screen and (max-width: 280px) {
  .personalBox {
    padding: 1vw;
    .personalInfo {
      .personalInfoTitle {
      }
      .personalDesc {
        font-size: 1.6vh;
        line-height: 2.2vh;
      }
      .personalInfoInner {
        .personalInfoList {
          .personalInfoItem {
            padding-bottom: 8px;
            font-size:1.6vh;
            .title {
              margin-right: 5px;
            }
          }
        }
      }
    }
    .infoWrapper {
      .BtnWrapper {
        width: calc(100% - 2vw);
      }
    }
  }
}

//fold openBook
@media screen and (width: 717px) and (height: 512px){
  .personalBox {
    padding: 0;

    .personalInfo {
      .personalDesc {
        font-size: 13px;
        line-height: 16px;
      }

      .personalInfoInner {
        .personalInfoList {
          height: 10vh;
          display: contents;

          .personalInfoItem {
            padding-bottom: 0px;
            font-size: 2.2vh;
            line-height: 2.8vh;

            .title {
              margin-right: 3px;
            }
          }
        }
      }
    }

    .BtnWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 13vh;    }

    .infoWrapper {
      padding: 0 0 2vh 0;
      align-items: center;
    }

    .personalBox::after {
      display: none;

    }
  }
}

//horizontal mobile

@media screen and (min-width: 666px) and (max-width: 944px) and (min-height: 350px) and (max-height: 415px) {
  .personalBox {
    padding: 0 10px 0 10px;

    .personalInfo {
      .personalDesc {
        font-size: 2.8vh;
        line-height: 3.8vh;
      }

      .personalInfoInner {
        width: 50%;
        .personalInfoList {
          line-height: 4vh;

          .personalInfoItem {
            padding-bottom: 0px;
            font-size: 2.2vh;

            .title {
              margin-right: 10px;
            }
          }
        }
      }
      .BtnWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%
      }
    }
  }
  .personalBox::after {
    width: calc(100% - 20px);

  }
}

