@import "./src/assets/sass/variables";

.title {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 7vh;

}

.titleBlack {
  color: $primaryText;
  display: inline-block;
  position: relative;
  font-size: 2.5vh;
  transition: transform 0.3s;
}

.titleRed {
  color: $accentText;
  display: inline-block;
  position: relative;
  font-size: 2.5vh;

  transition: transform 0.3s;
  padding-left: 5px;
}

.linkBack {
  height: 7vh;
  left: 400px;
  top: 20px;
  cursor: pointer;
  transition: 0.5s;

}

.linkBack:hover,
.linkBack:focus {
  transform: rotate(90deg);
  height: 7vh;
  width: 7vh;
  cursor: pointer;
}

.titleWithBtn{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


@media (max-width: 600px) {
  .title {
    font-size: 35px;
  }
}

@media (min-width: 3500px) {
  .title {
    font-size: 50px;
  }
}

@media (min-width: 2300px) {
  .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 550px ) and (min-height: 641px){
  .titleWithBtn {
    margin-bottom: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 550px) and (max-width: 960px) and (min-height: 270px) and (max-height: 640px) {
  .title{
  }

  .titleBlack {
    font-size: 3.5vh;
  }

  .linkBack {
    height: 10vh;
    transition: 0s;

  }

  .linkBack:hover,
  .linkBack:focus {
    height: 10vh;
    width: 10vh;
  }

  .titleRed {
    font-size: 3.5vh;
    padding-left: 5px;
  }
  .titleWithBtn {
    padding: 15px 0 0 0;
    height: 10px;

  }
}
