@import "src/assets/sass/variables";

.default {
    border: 1px solid $line;
    background-color: $bgSecondary;
    color: $line;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
    margin: 24px 0;
    transition: box-shadow .3s ease;
}




.default:hover {
}

.default:active {

}

.activeClass {
    background: $accentText;
}

