@import "../assets/sass/variables";


.skillList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  list-style: none;

  .skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    min-height: 130px;


    .aboutIcon {
      width: 7vh;
      height: 7vh;
      padding: 2vh;
    }

    .skillTitle {
      min-width: inherit;
      text-align: center;
      font-weight: 300;
      font-size: 2.2vh;
      word-wrap: break-word;
      color: #161418;
    }
  }
}

.animation {
  animation: animation 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes animation {
  0% {
    transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

//mobile
@media screen and (max-width: 550px) and (min-height: 568px){

  .skillList {
    justify-content: space-between;
    margin-block-start: 0;
    .skillItem {
      min-height:80px;
      padding: 10px;
      .aboutIcon {
        width: 40px;
        height: 40px;
      }
      .skillTitle {
        font-size: 3.5vw;
      }
    }
  }
}
//ipad
@media (min-width: 551px) and (max-width: 912px) {
  .skillList {
    justify-content: space-between;
    padding: 0 15px;
    .skillItem {
      min-height:80px;
      padding: 5px;
      .aboutIcon {
        width: 50px;
        height: 50px;
      }
      .skillTitle {
        font-size: 2.4vw;
      }
    }
  }
}
//fold
@media screen and (width: 717px) and (height: 512px) {
  .skillList {
    .skillItem {
      padding:5px;
      width: 23%;
      min-height: 20px;
      .aboutIcon {
        width: 25px;
        height: 25px;
      }
      .skillTitle {
        font-size: 14px;
      }
    }
  }
}
//horizontal mobile
@media screen and (min-width: 550px) and (max-width: 960px) and (min-height: 270px) and (max-height: 640px) {
  .skillList {
    margin-block-start: 0;
    justify-content: unset;
    .skillItem {
      padding:5px;
      width: 23%;
      min-height: 20px;
      .aboutIcon {
        width: 25px;
        height: 25px;
        padding: 0;
      }
      .skillTitle {
        font-size: 14px;
      }
    }
  }
}