@import "src/assets/sass/variables";

.expBox {
  .expTitle {
    margin: 0;
    width: 100%;
    font-weight: normal;
    text-align: center;
    color: $accentText;
    text-transform: uppercase;
    font-size: 24px;
  }
}

.expList {
  margin: 0;

  .expItem {
    padding: 0;
    list-style: none;
    position: relative;
    margin: 20px 0;

    .expTitleCompany {
      font-size: 14px;
      line-height: 1.5;
      text-decoration: none;
      color: $primaryText;
    }

    .expHeading {
      color: $accentText;
      font-size: 14px;
      line-height: 16.5px;
      margin: 0 0 10px;
    }
  }

  .expItem:last-child {
    padding-right: 130px;
  }
}


.animation {
  animation: animation 1.1s both;
}

@keyframes animation {
  0% {
    transform: translateX(600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(68px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(32px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}

@media screen and (min-width: 3500px) {
  .expBox {
    padding-top: 70px;

    .expTitle {
      font-size: 50px;
      padding: 50px;

    }
  }
  .expList {
    .expItem {
      margin: 30px 0;

      .expTitleCompany {
        font-size: 36px;
        line-height: 1.2em;
      }

      .expHeading {
        color: $accentText;
        font-size: 36px;
        line-height: 1.7em;
        margin: 0 0 20px;
      }
    }

    .expItem:last-child {
      padding-right: 300px;
    }
  }
}

@media screen and (min-width: 2200px) and (max-width: 3499px) {
  .expBox {
    padding-top: 36px;

    .expTitle {
      font-size: 28px;
      padding: 30px;

    }
  }
  .expList {
    .expItem {
      margin: 30px 0;

      .expTitleCompany {
        font-size: 24px;
        line-height: 1.5em;
      }

      .expHeading {
        color: $accentText;
        font-size: 24px;
        line-height: 1.4em;
        margin: 0 0 10px;
      }
    }

    .expItem:last-child {
      padding-right: 200px;
    }
  }
}

@media screen and (max-width: 550px) {
  .expList {
    .expItem {
      .expTitleCompany {
      }

      .expHeading {
      }
    }

    .expItem:last-child {
      padding-right: 20px;
    }
  }
}

@media (min-width: 551px) and (max-width: 912px) {
  .expBox {
    .expTitle {
      margin: 0;
      width: 100%;
      font-weight: normal;
      text-align: center;
      color: $accentText;
      text-transform: uppercase;
      font-size: 24px;
    }
  }

  .expList {
    .expItem {
      padding: 0;
      list-style: none;
      position: relative;
      margin: 20px 0;

      .expTitleCompany {
        font-size: 1.6vh;
        line-height: 1.3em;
        text-decoration: none;
        color: $primaryText;
      }

      .expHeading {
        color: $accentText;
        font-size: 1.5vh;
        line-height: 1.5em;
        margin: 0 0 4px;
      }
    }

    .expItem:last-child {
      padding-right: 5px;
    }
  }

}






