
.wrapper {
  overflow: hidden;
}

.avatar {
  background-image: url(./commonfiles/ava.jpg);
  height: calc(100vh - 60px);
  margin: 30px 0 30px 0;
  background-size: cover;
  background-position: center;
  width: 30.3333333333%;
  border: 2px solid silver;
  border-radius: 30px;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
  z-index: 1000

}

.aboutBtnClose{
  position: absolute;
}


.rightBox {
  position: absolute;
  overflow: hidden;
  width: 60%;
  left: 34.3333333333% !important;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 30px 0;
  height: calc(100vh - 60px);
  border-radius: 30px;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);

}

.container {
  margin: 0 auto;


}



@media (max-width: 1200px) {

}

@media (max-width: 900px) {
  .rightBox {
    width: 100%;
    left: 0% !important;
    position: relative;
  }
}

@media (max-width: 600px) {
  .linkBack {
    right: 20px;
    top: 10px;
  }

  .avatar {
      display: none;
      width: 0;

  }
}