.wrapper {
  overflow: hidden;
}

.avatar {
  background-image: url(assets/image/ava.jpg);
  height: calc(100vh - 60px);
  margin: 30px 0 30px 0;
  background-size: cover;
  background-position: center;
  width: 30.3333333333%;
  border: 2px solid silver;
  border-radius: 30px;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
  z-index: 1000

}

.rightBox {
  position: absolute;
  overflow: hidden;
  width: 60%;
  left: 34.3333333333% !important;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid silver;
  margin: 30px 0 30px 0;
  height: calc(100vh - 60px);
  border-radius: 30px;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);

}

.container {
  margin: 0 auto;
}


@media (max-width: 1200px) {

}

@media (max-width: 900px) {
  .rightBox {
    width: 100%;
    left: 0% !important;
    position: relative;
  }
}

@media (max-width: 600px) {
  .linkBack {
    right: 20px;
    top: 10px;
  }
  .avatar {
      display: none;
      width: 0;
  }
}


@media (min-width: 2400px) {
  .avatar {
    width: 25.3333333333%;
    height: calc(100vh - 400px);
    margin: 200px 0 200px 0;
    border: 3px solid silver;
    border-radius: 30px;
  }
  .rightBox {
    width: 55%;
    margin: 200px 0 200px 0;
    height: calc(100vh - 400px);
    border-radius: 30px;
  }
}

@media (min-width: 1800px) and (max-width: 2399px){
  .avatar {
    width: 30.3333333333%;
    height: calc(100vh - 300px);
    margin: 150px 0 150px 0;
    border-radius: 30px;
    box-shadow: 0 0 60px rgb(0 0 0 / 50%);
  }
  .rightBox {
    width: 60%;
    margin: 150px 0 150px 0;
    height: calc(100vh - 300px);
    border-radius: 30px;
    box-shadow: 0 0 60px rgb(0 0 0 / 50%);
  }
}

@media  (max-width: 1024px) {
  .avatar {
    width: 30.3333333333%;
    height: calc(100vh - 20px);
    margin: 10px 0 10px 0;
    border: 1px solid silver;
    border-radius: 30px;
    box-shadow: 0 0 60px rgb(0 0 0 / 50%);
  }
  .rightBox {
    width: 67.66%;
    left: 31.3333333333% !important;
    margin: 10px 0 10px 0;
    height: calc(100vh - 20px);
    border-radius: 30px;
    box-shadow: 0 0 60px rgb(0 0 0 / 50%);
  }
}