@import "src/assets/sass/variables";

.contactBox {
  display: flex;
  margin: auto;
}

.contactList {
  width: 60%;
  padding: 0 24px 0 24px;
  background: $bgSecondary;
  margin: 0;
  list-style: none;
}

.contactTitle {
  color: $accentText;
  margin: 18px 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.contactText {
  color: $secondaryText;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}

.contactIcon {
  padding-right: 20px;
  opacity: 0.8;
  font-size: 20px;
}

@media (min-width: 3600px) {

  .contactList {
    padding: 72px;
    width: 60%;
  }

  .contactTitle {
    margin: 60px 0;
    font-size: 44px;
    line-height: 44px;
  }

  .contactText {
    font-size: 36px;
  }

  .contactIcon {
    padding-right: 44px;
    font-size: 44px;
  }

}

@media (min-width: 1921px) and (max-width: 3599px) {

  .contactList {
    padding: 30px;
  }

  .contactTitle {
    margin: 30px 0;
    font-size: 28px;
    line-height: 28px;
  }

  .contactText {
    font-size: 26px;
  }

  .contactIcon {
    padding-right: 30px;
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  .contactBox {
    display: unset;
  }
  .contactList {
    padding: 0 15px;
    width: 100%;
  }
  .contactTitle {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 100;
    line-height: 16px;
  }
  .contactText {
    font-size: 1em;
  }
  .contactIcon {
    padding-right: 20px;
    font-size: 18px;
  }
}
@media (min-width: 913px) and (max-width: 1920px){
  .contactBox {
  }
  .contactList {
    padding: 0 40px;
  }
  .contactTitle {
    margin: 5px 0;
    font-size: 2.4vh;
    font-weight: 100;
    line-height: 3vh;
  }
  .contactText {
    font-size: 2.2vh;
  }
  .contactIcon {
    padding-right: 20px;
    font-size: 30px;
  }
}

@media (min-width: 551px) and (max-width: 912px) {

  .contactBox {
    display: block;
    padding: 0 5%;
  }
  .contactList {
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    "a b"
    "c d";
    padding: 0 0 15px 0
  }

  .contactTitle {
    margin: 10px 0;
    font-size: 1.8vh;
    font-weight: 100;
    line-height: 1em;
  }
  .contactText {
    font-size: 1.6vh;
  }
  .contactIcon {
    padding-right: 20px;
    font-size: 18px;
  }
}
@media screen and (width: 717px) and (height: 512px) {
  .contactBox {
    display: block;
    padding: 0 2%;
  }
  .contactList {
    width: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-areas:
    "a b"
    "c d";
  }

  .contactTitle {
    font-size: 2.5vh;
    font-weight: 100;
    line-height: 1.5vh;
  }
  .contactText {
    font-size: 2.5vh;
  }
  .contactIcon {
    padding-right: 20px;
    font-size: 18px;
  }
}


@media screen and (min-width: 550px) and (max-width: 960px) and (min-height: 270px) and (max-height: 640px)  {
  .contactBox {
    display: flex;
  }
  .contactList {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    padding: 0;
    height:100%
  }
  .contactTitle {
    margin: 5px 0;
    font-size: 3.2vh;
    line-height: 3.4vh;
  }
  .contactText {
    font-size: 2.6vh;
  }
  .contactIcon {
    padding-right: 10px;
    font-size: 14px;
  }
}
