@import "./src/assets/sass/variables";


.content {
  position: absolute;
  bottom: 0;
  width: 50%;
  text-align: center;
  padding-left: 5%;

  .item {
    margin: 5px;
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 0;
  }

  .icon {
    line-height: 33px;
    margin: 6px;
    width: 31px;
    background: none;
    transition: all step-start;
  }

  .icon:hover {
    width: 33px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 1px 1px 20px 0 white
  }

  .title {
    background-color: #f3e1e1;
  }

}

@media screen and (min-width: 3500px) {
  .content {
    .item {
      margin: 15px;
      width: 60px;
      height: 60px;
    }

    .icon {
      line-height: 66px;
      margin: 12px;
      width: 62px;
    }

    .icon:hover {
      width: 66px;
      border-radius: 50%;
      margin: 10px;
      box-shadow: 3px 3px 60px 0 white
    }

  }
}
@media screen and (min-width: 1921px) and (max-width: 3499px) {
  .content {
    .item {
      margin: 15px;
      width: 60px;
      height: 60px;
    }

    .icon {
      line-height: 66px;
      margin: 12px;
      width: 62px;
    }

    .icon:hover {
      width: 66px;
      border-radius: 50%;
      margin: 10px;
      box-shadow: 3px 3px 60px 0 white
    }
  }
}
@media (max-width: 550px) {
  .content {
    width: 100%;
    text-align: center;
    padding-left:0;

  }
}
@media (min-width: 551px) and (max-width: 912px){
  .content {
    bottom: 0;
    width: 100%;
    z-index: 100;
    padding-left: 0;
  }
}









