$bgPrimary: url(./src/commonfiles/1.jpg);
$bgFourth: #11111157;
$bgSecondary: #48565d;
$accentText: #d7a290;
$primaryText: #ffffff;
$secondaryText: #eee;
$line: #434646;
$border: #333;
$bgThird: #151515;
$thirdText: #888;